---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 1
numberOfLatestPostsToShow: 3
---
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Choose course</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Front-End</option>
      <option>Back-end</option>
      <option>Full stack</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Select week(s)</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
 <div>
     <input id="checkbox" required type="checkbox" />
     <label for="checkbox"> I agree to these <a href="#">Terms and Conditions.</a></label> <br>
</div>
<button type="button" class="btn btn-primary">Submit</button>
</form>